<?xml version="1.0"?>

<launch>
    <!-- Robot namespace -->
    <arg name="robot_name" default="my_gen3"/>
    <arg name="pose_input" default="/pcl_closest_obj/output_pose"/>
    <arg name="start_delay_seconds" default="0"/>

    <!-- Launch the example in that namespace -->
    <!-- node name="full_arm_movement_python" pkg="robothon2023" type="full_arm_movement.py" output="screen" launch-prefix="bash -c 'sleep $(arg start_delay_seconds); $0 $@' ">
        <param name="robot_name" value="$(arg robot_name)"/>
    </node -->

    <node pkg="robothon2023" type="probe_test.py" name="probe_test" output="screen">
        <rosparam command="load" file="$(find robothon2023)/config/joint_angles.yaml"/>
        <rosparam command="load" file="$(find robothon2023)/config/boundary_safety.yaml"/>
        <rosparam command="load" file="$(find robothon2023)/config/task_params.yaml"/>
        <rosparam command="load" file="$(find robothon2023)/config/trajectories.yaml"/>
        <remap from="~pose_in" to="$(arg pose_input)" />
    </node>
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="board_link_pub" args="0.450 0.370 0.095 0.0 0.0 0.6883546 -0.7253744 base_link board_link" /> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="probe_initial_link_pub" args="0.04 -0.20 0.025 0.0 0.0 0.0 1.0 board_link probe_initial_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="meter_plug_black_pub" args="0 -0.058 0 0 0 0 1 board_link meter_plug_black_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="meter_plug_red_pub" args="0.025 0 0 0 0 0 1 meter_plug_black_link meter_plug_red_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="door_knob_pub" args="0.0480 -0.142 0 0 0.3826834 0 0.9238795 board_link door_knob_link" />
</launch>
