<?xml version="1.0"?>
<launch>
    <node pkg="robothon2023" type="task_board_detector" name="task_board_detector" output="screen" respawn="false">
        <rosparam file="$(find robothon2023)/config/perception_params.yaml" command="load"/>
        <remap from="~input_pointcloud_topic" to="/camera/depth_registered/points" />
        <remap from="~input_image_topic" to="/camera/color/image_raw" />
    </node>
</launch>
